.ul {
  padding: 0;
  width: 50%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style-type: none;
}

.li {
  background-color: #beb1b1;
  color: rgb(75, 26, 26);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.pagination {
  display: flex;
  width: auto;
  flex-direction: row;
  list-style-type: none;
}

.paginationLi {
  text-decoration: none;
  font-size: smaller;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationLi:hover {
  background-color: #a89191;
}

.active {
  font-weight: bold;
  color: rgb(75, 26, 26);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
