header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #beb1b1;
  padding: 20px 0;
  width: auto;
  border-radius: 10px;
}
.headerItem {
  width: 10rem;
  text-align: center;
  color: rgb(75, 26, 26);
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: rgb(75, 26, 26);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
