.container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #000;
}

.cellWhite {
  background-color: white;
}

.cellActive {
  background-color: red;
  border: none;
}

.nameLeftCol::before {
  content: attr(data-number);
  position: relative;
  left: -20px; /* Сдвигаем псевдоэлемент влево */
  top: 10px;
}
.nameRightCol::after {
  content: attr(data-number);
  position: relative;
  left: 45px; /* Сдвигаем псевдоэлемент вправо */
  top: 10px;
}

.nameRow::before {
  content: attr(data-char);
  position: relative;
  left: 15px;
  top: -5px; /* Сдвигаем псевдоэлемент вверх */
}

.nameRow::after {
  content: attr(data-char);
  position: relative;
  left: 15px;
  top: 5px; /* Сдвигаем псевдоэлемент вниз */
}
